.app_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

.top_img_container {
  display: flex;
  justify-content: flex-end;
}

.background_img {
  width: 250px;
}

@media screen and (min-width: 751px) {
  .bottom_img_container {
    display: flex;
    position: absolute;
    bottom: 0;
  }
}

@media screen and (max-width: 750px) {
  .bottom_img_container {
    display: none;
  }
}
