@media screen and (max-width: 750px) {
  .card_outer_container {
    margin: 10px;
    border: 5px solid red;
    border-radius: 10px;
    width: 250px;
    height: 310px;
  }

  .card_inner_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card_title {
    font-size: 20px;
  }

  .card_price {
    font-size: 35px;
  }

  .card_list_container {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .card_list_item {
    border-bottom: 2px solid red;
    display: inline-block;
    padding: 1px 3rem;
    font-size: 15px;
  }

  .card_btn {
    width: 200px;
    padding: 5px;
  }
}

@media screen and (min-width: 751px) {
  .card_outer_container {
    border: 5px solid blue;
  }
}
